@import "tailwindcss";

#root { /* Required bc by default root has margins which make the website look bad */
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #c9ada1;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 'Fredoka', sans-serif;
}

p {
  color: #363636;
}

a {
  color: #b82e00;
  text-decoration: underline;
}

#navbar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #FFFFFF;
  margin-top: 0px;
}

.nav-link {
  color: #363636;
  text-decoration: none;
  font-weight: bold;
  padding: 0.2rem 0.8rem;
  border-radius: 12px;
  background-color: #FFFFFF;
  box-shadow: none;
  transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  color: #FFFFFF;
  box-shadow: inset 0px 4px 2px #363636;
  background-color: #7f8671;
}

.nav-link.active {
  color: #FFFFFF;
  box-shadow: inset 0px 4px 2px #363636;
  background-color: #7f8671;
}

.nav-link-large {
  font-size: 30px;
  padding: 1rem 2rem;
}

.flex-side {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.flex-down {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#content::-webkit-scrollbar {
  display: none;
}

#content {
  -ms-overflow-style: none;  /* IE */
  scrollbar-width: none;     /* Firefox */
}

.card {
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 0px 8px -3px #121212;
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: box-shadow 0.2s ease;
  position: relative;
  z-index: 1;
  border-left: 10px solid #436043;
}

.card.hoverable:hover {
  box-shadow: 0px 0px 10px 2px #121212;
}

.card.borderhover:hover {
  border-left: 10px solid #743c2a;
}

li {
  color: #363636;
}

.footer-text li {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 8px;
}

#footer {
  position: relative;
  background-color: #436043;
  z-index: 10;
}

.footer-text {
  color: #FFFFFF;
}

.bright-link {
  color: #c9ada1;
}

.btn-group button {
  background-color: #fff;
  cursor: pointer;
  padding: 1rem;
  border: 5px solid green;
}

.btn-group .button:not(:last-child) {
  border-right: none;
}

/* Same styling as the navbar buttons, but creating a different class for less confusion */
.dl-button {
  color: #363636;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 12px;
  background-color: #FFFFFF;
  box-shadow: none; /* explicitly no shadow by default */
  transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.dl-button:hover {
  color: #FFFFFF;
  box-shadow: inset 0px 4px 2px #363636;
  background-color: #7f8671;
}





/* All mobile/tablet/pc formatting/styling differences are settled here */

/* ---------- FOR MOBILE ------------------- */
.hero-image {
  height: 350px;
  background-position: center;
}

.hero-content {
  padding: 50px 20px 0 200px;
}

.hero-text-big {
  font-size: 55px;
  letter-spacing: 3px;
  color: #fff;
}

.hero-text {
  font-size: 14px;
  padding-bottom: 80px;
}

.content-text-big {
  margin: 1rem;
  font-size: 23px;
  line-height: 30px;
}

.card-center {
  margin: 0.5rem;
  padding: 1rem;
}

.text-center {
  margin: 0 0.5rem 0 0.5rem;
}

/* mobile — show hamburger, hide desktop links */
.navbar-hamburger {
  display: block;
}

.navbar-desktop {
  display: none;
}

.navbar-mobile {
  display: flex;
}

.green-background-div {
  background-color: #7f8671;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0rem;
}

.carousel-image {
  height: 350px;
  background-position: center;
}

.carousel-center {
  padding: 1rem;
}

.white-text-big {
  font-size: 25px;
  color: #FFF;
}

.white-text-small {
  font-size: 15px;
  color: #FFF;
}

.black-text-big {
  font-size: 25px;
  color: #000;
}

.black-text-small {
  font-size: 15px;
  color: #000;
}

.smaller-image {
  height: 200px;
}

/* ---------- FOR TABLET ------------------- */
@media (min-width: 768px) {
  .hero-image {
    height: 700px;
    background-position: center;
  }

  .hero-content {
    padding: 80px 100px 0 80px;
  }

  .hero-text-big {
    font-size: 100px;
    letter-spacing: 5px;
    color: #fff;
  }

  .hero-text {
    font-size: 20px;
    color: #fff;
    padding-bottom: 0px;
  }

  .content-text-big {
    font-size: 50px;
    line-height: 50px;
    color: #fff;
  }

  .card-center {
    margin: 2rem;
    padding: 3rem;
  }

  .text-center {
    margin: 0 3rem 0 3rem;
  }

  .navbar-hamburger {
    display: none;
  }

  .navbar-desktop {
    display: flex;
  }

  .navbar-mobile {
    display: none !important;  /* hide even if menuOpen is true */
  }

  .green-background-div {
    padding: 1rem;
  }

  .card-grid {
    grid-template-columns: 1fr 1fr;
  }

  .carousel-image {
    height: 400px;
    background-position: center;
  }

  .carousel-center {
    padding: 3rem;
  }

  .white-text-big {
    font-size: 30px;
  }
  
  .white-text-small {
    font-size: 20px;
  }

  .black-text-big {
    font-size: 30px;
    color: #000;
  }

  .black-text-small {
    font-size: 20px;
    color: #000;
  }

  .smaller-image {
    height: 350px;
  }

}


/* ---------- FOR PC ------------------- */
@media (min-width: 1024px) {
  .hero-image {
    height: 900px;
    background-position: center 100%;
  }

  .hero-content {
    padding: 80px 130px 0 80px;
  }

  .hero-text-big {
    font-size: 130px;
    letter-spacing: 9px;
    color: #fff;
  }

  .hero-text {
    font-size: 30px;
    color: #fff;
    padding-bottom: 0px;
  }

  .content-text-big {
    font-size: 50px;
    line-height: 50px;
    color: #fff;
  }

  .card-center {
    margin: 3rem;
    padding: 5rem;
  }

  .text-center {
    margin: 0 5rem 0 5rem;
  }

  .navbar-hamburger {
    display: none;
  }

  .navbar-desktop {
    display: flex;
  }

  .navbar-mobile {
    display: none !important;  /* hide even if menuOpen is true */
  }

  .green-background-div {
    padding: 2rem;
  }

  .card-grid {
    grid-template-columns: 1fr 1fr;
  }

  .carousel-image {
    height: 620px;
    background-position: center;
  }

  .carousel-center {
    padding: 2rem 8rem 2rem 8rem;
  }

  .white-text-big {
    font-size: 35px;
  }

  .white-text-small {
    font-size: 25px;
  }

  .black-text-big {
    font-size: 35px;
    color: #000;
  }

  .black-text-small {
    font-size: 25px;
    color: #000;
  }

  .smaller-image {
    height: 400px;
  }

}