#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #c9ada1;
}

p {
  color: #363636;
}

a {
  color: #b82e00;
}

#navbar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #FFFFFF;
  margin-top: 0px;
}

.nav-link {
  color: #363636;
  text-decoration: none;
  font-weight: bold;
  padding: 0.4rem 1rem;
  border-radius: 15px;
  background-color: #FFFFFF;
  box-shadow: none; /* explicitly no shadow by default */
  transition: box-shadow 0.4s ease, background-color 0.4s ease, color 0.2s ease;
}

.nav-link:hover {
  color: #FFFFFF;
  box-shadow: inset 0px 4px 2px #363636;
  background-color: #7f8671;
}

.nav-link.active {
  color: #FFFFFF;
  box-shadow: inset 0px 4px 2px #363636;
  background-color: #7f8671;
}

.flex-side {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.flex-down {
  display: flex;
  flex-direction: column;
  gap: 15px;
}